html {
  font-family:roboto,sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: normal;
  font-family:roboto-bold,roboto,sans-serif;
}

h2 {
  font-size: 25px;
  font-weight: normal;
  font-family:roboto-bold,roboto,sans-serif;
  margin: 0 0 0 0;
}

h3 {
  font-size: 22px;
  font-family:roboto-bold,roboto,sans-serif;
  margin: 0 0 0 0;
}

p {
  font-size: 20px;
  margin: 0 0 0 0;
  color: #666666;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: #666666;
}

strong {
  font-size: 20px; font-family:roboto-bold,roboto,sans-serif
}



.section-outer {
  display: flex; justify-content: center
}

.section-inner {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 90%;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 23px;
  }

  a {
    font-size: 23px;
  }

  strong {
    font-size: 23px;
  }

  .section-inner {
    width: 1000px;
    margin-top: 150px;
    margin-bottom: 150px;
  }
}


/*
  HEADER
*/

#header li {
  list-style: none;
}

.header-container {
  width: 90%; margin-top: 50px; display: flex; justify-content: space-between;
}

@media (min-width: 1000px) {
  .header-container {
    width: 1000px;
  }
}

.header-content {
  display: flex;
  width: 550px;
  justify-content: space-between;
}

.header-link {
  display: flex;
  /*display: none;*/
  justify-content: center;
  align-items: center;
  text-decoration:none;
  font-size: 23px;
  color: black;
}

@media (max-width: 999px) {
  #sign-up-link {
    display: none;
  }

  .header-link {
    display: none;
  }
}


.header{
  /*border-bottom: 1px solid #E2E8F0;*/
}

.header-section-inner {
  width: 1000px;
  margin-top: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 1rem 1.5rem;*/
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 23px;
  color: black;
  text-decoration:none;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}


@media only screen and (max-width: 999px) {
  .header-section-inner {
    width: 90%;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 100px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}



/*
  INTRO
*/

.intro-section-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.title {
  font-size: 60px;
  /*font-family:roboto-bold,roboto,sans-serif;*/
}

.intro-sub-title {
  margin-top: 12px; color: #666666;
}

@media (max-width: 999px) {
  .title {
    font-size: 40px;
  }

  .intro-illustration {
    display: none;
  }
}

/*
  INFO
*/

#info-section {
  color: white;
}

#info-section p {
  color: white;
}

.info-section-outer {
  background-color: #000000;
}

.info-section-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1000px) {
  .info-section-inner {
    width: 1500px;
  }
}

.intro-section-inner {
  display: flex;
  justify-content: space-between;
}

.info-h1 {
  text-align: center;
}

.info-sub-header {
  /*margin-top: 12px; */
  text-align: center; margin-bottom: 100px;
}

.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.switch-field-outer {
  display: flex;
  /*margin-bottom: 36px;
  overflow: hidden;*/
  border: 1px solid white;
  border-radius: 50px;
}


.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  font-family: roboto,sans-serif;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  padding: 10px 20px;
  margin-right: -1px;
  transition: all 0.1s ease-in-out;
  border-radius: 50px 50px 50px 50px;
}

@media (min-width: 1000px) {
  .switch-field label {
    font-size: 23px;
  }
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #3B3B3B;
  border: 1px solid white;
}

.info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1000px) {
  .info-content {
    flex-direction: row;
    justify-content: space-around;
  }
}

.flowchart {
  width: min(90%, 700px);
}

.info-summary {
  max-width: 500px; height: 500px; display: flex; flex-direction: column; justify-content: space-around;
}

#with-pelm-summary {
  display: none;
}

/*
  USE CASES
*/

.use-case-section-inner {
  display: flex; flex-direction: column;
}

.use-case-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.use-case-section-item {
  display: flex;
  width: 450px;
  margin-bottom: 40px;
}

.use-case-section-icon {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

@media (min-width: 1000px) {
  .use-case-items {
    justify-content: space-between;
  }

  .use-case-section-item {
    margin-bottom: 100px;
  }

  .use-case-section-icon {
    width: 100px;
    height: 100px;
  }
}

.login {
  width: 350px;
  /*position: absolute;*/
  /*top: 10%;*/
  /*left: 50%;*/
  /*margin-left: -175px;*/
}

/*
  FOOTER
*/

#footer {
  color: white;
}

#footer a {
  color: white;
}

.footer-section-outer {
  display: flex; justify-content: center;
  background-color: black;
  margin-top: 100px;
}

.footer-section-inner {
  margin-top: 100px; margin-bottom: 100px;
  width: 90%;
  height: 150px;
  font-size: 23px;
  font-family: roboto,sans-serif;
}

@media (min-width: 1000px) {
  .footer-section-inner {
    width: 1000px;
  }
}


#privacy-and-security-policy h2 {
  font-size: 30px; font-family:roboto-bold,roboto,sans-serif
}

#privacy-and-security-policy h3 {
  font-size: 30px; font-family:roboto-bold,roboto,sans-serif
}

#privacy-and-security-policy p {
    font-size: 23px; font-family:roboto,sans-serif; color: #666666;
}

#privacy-and-security-policy li {
  font-size: 23px; font-family:roboto,sans-serif; color: #666666;
}

.privacy-and-security-policy-h1 {

}

.privacy-and-security-policy-h2 {
  font-size: 30px; font-family:roboto-bold,roboto,sans-serif
}

.privacy-and-security-policy-h3 {
  font-size: 23px; font-family:roboto-bold,roboto,sans-serif
}

.privacy-and-security-policy-body {
  font-size: 23px; font-family:roboto,sans-serif; color: #666666;
}

/******FORM*******/
.register-form-section-inner {
  margin-top: 100px; margin-bottom: 100px; display: flex; flex-direction: column;
  width: min(500px, 90%);
}

#formDestination {
  display: none;
}
#contact-form-outter {
  /*border: 1px solid #999999;*/
  width: 60%;
  /*height: 40%;*/
  /*padding: 50px;*/
  /*margin-left: 20%;*/
  margin-bottom: 70px;
  font-size: 30px;
}
#message {
  padding-bottom: 0px;
}
.text-field {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #cccccc;
  width: 100%;
  max-width: 100%;
  font-size: 25px;
  line-height: 40px;
  padding-bottom: 15px;
  padding-top: 15px;
  color: black;
  font-family:roboto,sans-serif;
}

.text-field:focus {
  border-bottom: 2px solid black;
}

.register-form-row {
  /*width: 500px;*/
  width: 100%;
}

.submit-form-button {
  /*width: 500px;*/
  width: 100%;
  height: 50px; background-color: black; margin-top: 50px; border-radius: 5px; display: flex; justify-content: center; align-items: center;
  font-size: 23px; font-family:roboto,sans-serif;
  color: white;
}